body{
    background-color: black;
}

.card{
    position: relative;
    top: 30px;
    left: 25px;
    margin-bottom: 75px;
}

.card{
display: inline-block;
margin-left: 75px;
}

.card-header{
    color: white;
    background-color: black;
}

.card-img-top{
    height: 325px;
}
